.container{
    width: 50% !important;
    margin-top: 50px;
    background-color: rgb(0, 53, 81);
    border: none;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.heading{
    text-align: center;
    
}
.form-group{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
}
.addBtn{
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.list{
    margin-top: 30px ;

}
li{
    margin-bottom: 15px;
    margin-left: -12px;
    background-color: black !important;
    color: white !important ;
    border: none !important;
    list-style-type: none;
    padding: 10px;
}

.list-items{
    display: flex;
    border-radius: 5px;
}

.list-items .list-item-list{
    flex: 1;
}
.list-items .list-item-icons{
    padding-left: 5px;
    font-size: 30px;
    cursor: pointer;
    margin: 4px;

}
#delete{
    color: rgb(164, 0, 0);
}

#list-item{
    text-decoration: line-through;
    opacity: 0.5;
}